@import "./normalize.css";


* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  color: #333;
  background-color: #fff;
  font-family: "Microsoft YaHei","微软雅黑","Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

input, textarea, button {
  font-family: "Microsoft YaHei","微软雅黑","Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
  font-size: 16px;
}

a {
  color: #BEB77A;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
