.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 500px;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1px;
}

.container h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.textInputerWrap {
  position: relative;
  margin-bottom: 40px;
}
.textInputerWrap:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.inputerIcon {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 36px;
}

.textInputer {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: none;
  background: none;
  outline: none;
}


/* todo item */
.item {
  margin: 15px 10px;
  overflow: hidden;
}
.itemCompleted {
  composes: item;
  color: #ddd;
}


.fl {
  float: left;
}

.checkbox {
  composes: fl;
  width: 26px;
  height: 26px;
  margin: 2px;
  border: 2px solid #fff;
  cursor: pointer;
  /*transition: all .2s;*/
}
.checkboxCked {
  composes: checkbox;
  composes: scale from "./share/animations.css";
  position: relative;
  background: #fff;
}
.checkboxCked:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  width: 31px;
  height: 18px;
  background: url("./images/check.png");
}

.title {
  composes: fl;
  composes: textEllipsis from './share/common.css';
  height: 30px;
  width: 250px;
  text-align: left;
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.titleCompleted {
  composes: title;
  text-decoration: line-through;
}

